.item {
    background-color: #FFF;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 22px;
    grid-template-areas:
            "ava label"
            "ava preview";
    display: grid;
    color: black;
}
.label {
    grid-area: label;
}
.Preview {
    grid-area: preview;
    font-size: smaller;
}
.Ava {
    margin-right: 10px;
    grid-area: ava;
}
.Ava img {
    position: relative;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

