
.DialogArea {
    grid-area: currentD;
    background-color: #FFFFFF;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 1rem;
}
.NewPost {
    border-bottom: 1px solid #e3e4e8;
    color: #000000;
    padding: 1rem;
    font-size: 22px;
    grid-template-columns: 80px 1fr;
    grid-template-areas:
            "avatar text"
            "avatar buttons";
    display: grid;
}

.userAvatar img {
    grid-area: avatar;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.textArea {
    width: 100%;
    grid-area: text;
    border: none;
}

.buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row-reverse;
}

.attachB {
    grid-area: button;
}

.sendB{
    grid-area: button;
}
