
.DialogArea {
    grid-area: currentD;



}

.NewPost {

    border: 1px solid #e3e573;
    border-radius: 5px;
    padding: 8px 15px;
    color: #000000;
    font-size: 22px;
    font-family: roboto;
    grid-template-columns: 80px 1fr 1fr;

    grid-template-areas:
            "avatar text"
            "avatar buttons"
            ;
    display: grid;
}

.userAvatar img {
    grid-area: avatar;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.textArea {
    background-color: rgba(0, 00, 06, 0.9);
    color: white;
    grid-area: text;
    border-radius: 5px;
}

.buttons {
    grid-area: buttons;
}

.attachB {
    width: 80px;
    padding: 5px;
    background-color: black;
    color: white;
    border: white solid 1px;
    border-radius: 4px;
    grid-area: button;
}

.sendB{
    width: 80px;
    padding: 5px;
    background-color: black;
    color: white;
    border: white solid 1px;
    border-radius: 4px;
    grid-area: button;
}
/*.Profile{*/
/*    background-color: #4d7cae;*/
/*    border: 1px solid #212941;*/
/*    border-radius: 5px;*/
/*    padding: 8px 15px;*/
/*    color: #ffffff;*/
/*    font-size: 18px;*/
/*    font-family: roboto;*/
/*}*/
