.formControl input{
    padding: 5px;
    grid-area: text;
    border-radius: 5px;
    border-spacing: 200px;
}
.formControl textarea{
    padding: 5px;
    grid-area: text;
    border-radius: 5px;
    border-spacing: 200px;
    width: 100%;
}
.error textarea, .error input{
    border: solid red 1px;
}
.errorMessage {
    background-color: red;
    border-radius: 5px;
}