
.Nav {
    grid-area: n;
    padding: .5rem;
}

.item {
    background-color: inherit;
    border-radius: .2rem;
    padding: .5rem;
}

.click {

    color: #285473;;
    text-decoration: none;
    transition: background-color 200ms linear, color 200ms linear;
}

.click a {
    font-size: 22px;
    color: #285473;;
    text-decoration: none;
    transition: background-color 200ms linear, color 200ms linear;
}

.click a.active {
    background-color: #d1d9e0;;
    font-size: 24px;
    text-decoration: none;
    color: #5b6e85;;
}

.friends {
    padding: 8px 25px;
    margin-top: 10px;
}