
.Header {
    grid-area: h;
    background: #4a76a8;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #4872a3;
    font-size: 22px;
    color: #ffffff;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    padding: 1rem;
}
.label {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-size: 2rem;
}
.label img {
    width: 50px;
    margin-right: 1rem;
}

.user {
    cursor: pointer;
    padding: 1rem;
}