
.Header {
    grid-area: h;
    background-color: rgba(0, 1, 52, 0.95);
    border: 1px solid #0f1cff;
    border-radius: 5px;
    font-size: 22px;
    color: #ffffff;
    align-content: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 60px 80px 1fr;
    grid-template-areas: 'lable links .';
}


.links {
    float: right;
    grid-area: links;

}

.lable {
    grid-area: lable;
}
.lable img {
    width: 50px;
}