.DialogList {
    grid-area: dList;
    font-size: 32px;
    list-style: none;
    padding-left: 0;
    border-right-style: solid;
    border-right-width: 1px;
}
.dialogUl {
    padding-left: 10px;
    margin-right: 15px;
}
.Head {
    grid-area: head;
    text-align: center;
    text-shadow: #212941;
    font-size: 26px;
}
.Head img {
    height: 350px;
    border-radius: 15px;
}