

.Person {
    margin: auto;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #212941;
    border-radius: 12px;
    padding: 8px 15px;
    color: #ffffff;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Avatar {
    grid-area: ava;

}

.PersonStats {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
}
.PersonStats > div {
    margin: 10px;
}
.PersonStats > button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.Avatar img {
    height: 200px;
    border-radius: 15px;
}


/*.Profile{*/
/*    background-color: #4d7cae;*/
/*    border: 1px solid #212941;*/
/*    border-radius: 5px;*/
/*    padding: 8px 15px;*/
/*    color: #ffffff;*/
/*    font-size: 18px;*/
/*    font-family: roboto;*/
/*}*/
