
.newPost {
    border-radius: 4px;
    max-width: 900px;
    background: #fff;
    padding: 8px 15px;
    color: #000;
    font-size: 22px;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    grid-template-columns: 80px 1fr;
    grid-template-areas:
            "avatar text"
            "avatar button";
    display: grid;
    grid-gap: 10px;
}
.avatar {
    grid-area: avatar;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.button {
    grid-area: button;
}